@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-lilita-one: var(--font-lilita-one);
  --font-poppins: var(--font-poppins);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-lilita-one: var(--font-lilita-one);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

.lilita-one {
  font-family: var(--font-lilita-one), cursive;
}

.kingfink {
  font-family: var(--font-kingfink), sans-serif;
}
